<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <!-- Content -->
    <!-- <div class="content" id="content">
      
        <div class="contact-form" id="contact-form">
            <h2>Contact Us</h2>
            <form action="" method="POST" hx-post = "/contactus" hx-target = "#contact-form">
  
                <div class="inputBox">
                  <input class="contact-form-input" name="name" type="text" required="required">
                  <span>Name</span>
                </div>
                
                <div class="inputBox">
                  <input class="contact-form-input" name="email"type="email" required="required">
                  <span>Email</span>
                </div>
    
                <div class="inputBox">
                    <textarea class="contact-form-input" name="message" type="message" required="required"></textarea>
                    <span>message</span>
                  </div>
      
                <button class="submitbutton">Submit</button>
              </form> 
      
        </div>
       
    </div> -->
</body>
</html>