package views

import views "github.com/Hrishikesh-Panigrahi/GoCMS/templates"

templ Success(title string, name string, email string, message string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>Document</title>
		</head>
		<body>
			@views.Nav()
			{ title }
			{ name }
			{ email }
			{ message }
		</body>
	</html>
}
